<!doctype html>
<html ng-app="ngGapier">
<head>
<script>
var base64_variables = '{{base64_variables}}';
var gapier_variables = JSON.parse(atob(base64_variables));
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<link rel="stylesheet" href="static/css/main.css">
<script src="static/js/app.js"></script>
</head>
<body>
<div ng-controller="GapierCntl"><div ng-view></div></div>
</body>
</html>
